.blog-listing {
  padding: 60px 0;

  &__heading {
    text-align: center;
    margin-bottom: 39px;
  }

  &__description {
    text-align: center;
  }

  &__blogs {
    margin-top: 80px;
  }

  &__blog {
    display: flex;
    flex-direction: column;
    color: inherit;
    margin-bottom: 73px;

    img {
      height: 320px;
      width: 100%;
      object-fit: cover;
      margin-bottom: 32px;
    }

    &__title {
      font-size: 24px;
      line-height: 33px;
      margin-bottom: 16px;
    }

    &__link {
      font-size: 16px;
      line-height: 135.94%;
      // color: inherit;

      display: flex;
      justify-content: center;
      align-items: center;
      padding: 11px 32px;
      background: #23AFFD;
      width: 40%;
      color: #FFFFFF;
    }
  }
}

.blog-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;

  &__container {
    display: flex;
    align-items: center;
  }

  a {
    background: #ffffff;
    border: 1px solid #dfe3e8;
    border-radius: 4px;
    margin: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #212b36;

    &.disabled {
      background: #919eab;
      pointer-events: none;
      border: 1px solid #919eab;
    }

    &.active {
      border: 1px solid #4200ff;
      color: #4200ff;
    }
  }
}
