{% import '/wireframe-theme/macros/macros.html' as macros %}

  {% set isTag = false %}
    {% if module.selection_type == 'tag' %}
      {% set isTag = true %}
      {% set posts = blog_recent_tag_posts(module.blog_field, module.blog_tag, 4) %}
    {% else if module.selection_type == 'blogs' %}
      {% set posts = blog_recent_posts(module.blog_field, 4) %}
    {% else %}
      {% set posts = module.blogs %}
    {% endif %}

<section class="features type-{{ module.module_type }} order-{{ module.order }} {{ module.rotate_text_background_color > 0 ? "rotate-background" : "" }}" style="{{macros.padding(module.padding.padding_top, module.padding.padding_bottom)}};{{macros.margin(module.margin.margin_top, module.margin.margin_bottom)}};{{macros.textColor(module.module_text_color.color)}};{{macros.background(module.module_background.background_type, module.module_background.background_color.color, module.module_background.background_image.src)}}; background-color: {{ module.text_background_color_2.color }};border-radius: 0px {{ module.border_radius_color_2 }}px;">
<!--  img with shapes  -->
  {% if module.image_with_shapes.src %}
  <img src="{{ module.image_with_shapes.src }}" alt="{{ module.image_with_shapes.alt }}" class="features__img-shapes" />
  {% endif %}


  
  <div class="container cta__bg-color1" style="background-color: {{ module.text_background_color_1.color }};border-radius: 0px {{ module.border_radius_color_1 }}px 0px 0px;transform: rotate(-{{ module.rotate_text_background_color }}deg);">
  <div class="blog-posts__grid-feature-slider">  
  
  <div class="features__slider__nav-prev">
    <svg width="15" height="26" viewBox="0 0 15 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="features__slider__nav-prev-icon" fill-rule="evenodd" clip-rule="evenodd" d="M0.5 13C0.5 13.2004 0.59622 13.4259 0.74055 13.5762L11.9502 25.2495C12.0945 25.3998 12.311 25.5 12.5034 25.5C12.6959 25.5 12.9124 25.3998 13.0567 25.2495L14.2595 23.997C14.4038 23.8467 14.5 23.6212 14.5 23.4208C14.5 23.2204 14.4038 22.995 14.2595 22.8447L4.80584 13L14.2595 3.15531C14.4038 3.00501 14.5 2.77956 14.5 2.57916C14.5 2.35371 14.4038 2.15331 14.2595 2.00301L13.0567 0.750501C12.9124 0.6002 12.6959 0.5 12.5034 0.5C12.311 0.5 12.0945 0.6002 11.9502 0.750501L0.74055 12.4238C0.59622 12.5741 0.5 12.7996 0.5 13Z" fill="#3258A3"/>
    </svg>
  </div> 

  <div class="row" style="transform: rotate({{ module.rotate_text_background_color }}deg)">
      <div class="features-con{{module.dashed_background ? ' dash-background' : ''}}">

        {# <div class="swiper-container">
          <div class="swiper-wrapper"> #}
            {# {% for row in posts %} 
                <div class="swiper-slide"> #}
                <div class="col-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="features__content ">
                    {% if module.heading_tag %}
                    <{{ module.heading_tag }} class="heading features__heading {{ module.heading_size }}">{{ module.heading }}</{{ module.heading_tag }}>
                    {% endif %}
                    {% if module.subheading and module.subheading_tag %}
                    <{{ module.subheading_tag }} class="subheading features__subheading {{ module.subheading_size }}">{{ module.subheading }}</{{ module.subheading_tag }}>
                    {% endif %}
                    <div class="description features__description">{{ module.description }}</div>
                    {% if module.rows|first %}
                    <ul>
                      {% for item in module.rows %}
                        {% if item %}
                          <li>{{item}}</li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                    {% endif %}
                    {% if module.button_1.text_field or module.button_2.text_field %}
                    <div class="features__buttons buttons-holder">
                      {% if module.button_1.text_field and module.button_1.url_field.href %}
                      <a class="button features__button btn-{{ module.button_1.button_type ? module.button_1.button_type : 'contain' }} btn-{{ module.button_1.button_color ? module.button_1.button_color : 'primary' }}" href="{{ module.button_1.url_field.href }}">
                        {{ module.button_1.text_field }}
                      </a>
                      {% endif %}
                      {% if module.button_2.text_field and module.button_2.url_field.href %}
                      <a class="button features__button btn-{{ module.button_2.button_type ? module.button_2.button_type : 'contain' }} btn-{{ module.button_2.button_color ? module.button_2.button_color : 'primary'}}" href="{{ module.button_2.url_field.href }}">
                        {{ module.button_2.text_field }}
                      </a>
                      {% endif %}
                    </div>
                    {% endif %}
                    {% if module.display_author %}
                    <div class="features__author-description">
                      {{ module.author.author_description }}
                    </div>
                    <div class="features__author">
                      {% if module.author.author_image.src %}
                      <img src="{{ module.author.author_image.src }}" alt="{{ module.author.author_image.alt }}" />
                      {% endif %}
                      <div class="features__author__text">{{ module.author.author_text }}</div>
                    </div>
                    {% endif %}
                  </div>
                </div>
                <div class="col-6 col-lg-6 col-md-6 col-sm-12">
                  {% if module.image_field.src %}
                    <img class="features__image" src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                  {% endif %}
                </div>



                {# end swiper slide #}
              {# </div> #}
              {# end for row #}
            {# {% endfor %}  #}
            {# end swiper wrapper #}
          {# </div> #}
          {# end swiper container #}
        {# </div> #}

        {# end fetaures con #}
      </div>
            
     {# end row #}
    </div>
    {# end container #}
    </div>
  </div>
  <!-- img -->
  {% if module.module_type == 'image-fit' %}
    {% if module.image_field.src %}
    <img class="features__image-fit" src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }} style="margin-top: {{ module.image_margin_top}}px; margin-right: {{ module.image_margin_right}}px;">
    {% endif %}
  {% endif %}
</section>
